*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

header{
background-color: #DF0101;
display: flex;
}

h1{
    padding-left: 40%;
}

header > img{
height: 85px;
width: 85px;
}

.imgpoke{
    width: 100px;
    height: 120px;
}

.contenedor{
    text-align: center;
}

.cuadros{
    border-style: groove;
    border-color: green;
    height: 200px;
    width: 180px;
    margin: 10px;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
}

.cuadros > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cajas{
    padding: 20px;
}

#ficha{
    text-align: center;
    padding: 30px;
}



#evoluciones > *{
    padding: 20px;
}

#home{
    margin: 20px;
    font-weight: bold;
}

.cajasFicha{
    width: 500px;
    border-style: groove;
}

#total > #ficha{
    padding-left: 30%;
}